@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

body {
  font-family: "Montserrat";
}

.btn {
  @apply bg-purple-300 py-2 px-5 rounded-md cursor-pointer hover:bg-purple-200;
}

input,
option,
select {
  @apply p-2 rounded-md mb-3;
}

td,
th {
  @apply p-2 border border-gray-500;
}
